In [1]:
from pyspark.sql import SparkSession

from pyspark_encoders import TargetEncoder
spark = SparkSession.builder.appName("mySparkApp").getOrCreate()

In [3]:
values = [("A", 1), ("A", 2), ("B", 6), ("B", 4), ("A", 3), ("B", 5)]

df = spark.createDataFrame(values, ["catColumn", "targetColumn"])
df.show()

encoder = TargetEncoder(
    inputCol="catColumn",
    outputCol="encCatColumn",
    targetCol="targetColumn",
    strategy="mean"
)

encoder_model = encoder.fit(df)

transf_df = encoder_model.transform(df)

transf_df.show()

+---------+------------+
|catColumn|targetColumn|
+---------+------------+
|        A|           1|
|        A|           2|
|        B|           6|
|        B|           4|
|        A|           3|
|        B|           5|
+---------+------------+

+---------+------------+------------+
|catColumn|targetColumn|encCatColumn|
+---------+------------+------------+
|        A|           1|         2.0|
|        A|           2|         2.0|
|        B|           6|         5.0|
|        B|           4|         5.0|
|        A|           3|         2.0|
|        B|           5|         5.0|
+---------+------------+------------+

In [4]:

from pyspark_encoders import CatboostEncoder

values = [("A", 1), ("A", 2), ("B", 6), ("B", 4), ("A", 3), ("B", 5)]

df = spark.createDataFrame(values, ["catColumn", "targetColumn"])
df.show()

encoder = CatboostEncoder(
    inputCol="catColumn",
    outputCol="encCatColumn",
    targetCol="targetColumn",
    a=1
)

encoder_model = encoder.fit(df)

transf_df = encoder_model.transform(df)

transf_df.show()

+---------+------------+
|catColumn|targetColumn|
+---------+------------+
|        A|           1|
|        A|           2|
|        B|           6|
|        B|           4|
|        A|           3|
|        B|           5|
+---------+------------+

AttributeError: 'int' object has no attribute 'typeConverter'

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 48114)
Traceback (most recent call last):
  File "/opt/conda/lib/python3.11/socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/opt/conda/lib/python3.11/socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "/opt/conda/lib/python3.11/socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/opt/conda/lib/python3.11/socketserver.py", line 755, in __init__
    self.handle()
  File "/usr/local/spark/python/pyspark/accumulators.py", line 295, in handle
    poll(accum_updates)
  File "/usr/local/spark/python/pyspark/accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "/usr/local/spark/python/pyspark/accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/spark/python/pyspark/serializers.py", line 596, in read_int
    raise EOFError
EOFError
----------------------------------------

In [10]:
values = [(None, 1), ("A", 2), ("B", 6), ("B", 4), ("A", 3), ("B", 5)]

df = spark.createDataFrame(values, ["catColumn", "targetColumn"])
df.show()

encoder = TargetEncoder(
    inputCol="catColumn",
    outputCol="encCatColumn",
    targetCol="targetColumn",
    strategy="mean"
)

encoder_model = encoder.fit(df)

transf_df = encoder_model.transform(df)

transf_df.show()

+---------+------------+
|catColumn|targetColumn|
+---------+------------+
|     NULL|           1|
|        A|           2|
|        B|           6|
|        B|           4|
|        A|           3|
|        B|           5|
+---------+------------+

+---------+------------+------------+
|catColumn|targetColumn|encCatColumn|
+---------+------------+------------+
|     NULL|           1|        NULL|
|        A|           2|         2.5|
|        B|           6|         5.0|
|        B|           4|         5.0|
|        A|           3|         2.5|
|        B|           5|         5.0|
+---------+------------+------------+

In [11]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.3-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: numpy>=1.14.0 in /opt/conda/lib/python3.11/site-packages (from category_encoders) (1.24.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /opt/conda/lib/python3.11/site-packages (from category_encoders) (1.3.1)
Requirement already satisfied: scipy>=1.0.0 in /opt/conda/lib/python3.11/site-packages (from category_encoders) (1.11.3)
Requirement already satisfied: statsmodels>=0.9.0 in /opt/conda/lib/python3.11/site-packages (from category_encoders) (0.14.0)
Requirement already satisfied: pandas>=1.0.5 in /opt/conda/lib/python3.11/site-packages (from category_encoders) (2.0.3)
Requirement already satisfied: patsy>=0.5.1 in /opt/conda/lib/python3.11/site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.0.5->category_encoders) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.11/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.2.0)
Requirement already satisfied: packaging>=21.3 in /opt/conda/lib/python3.11/site-packages (from statsmodels>=0.9.0->category_encoders) (23.2)
Downloading category_encoders-2.6.3-py2.py3-none-any.whl (81 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.9/81.9 kB 1.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.3

In [15]:
from category_encoders import *
import pandas as pd
from sklearn.datasets import fetch_openml
bunch = fetch_openml(name="house_prices", as_frame=True)
display_cols = ["Id", "MSSubClass", "MSZoning", "LotFrontage", "YearBuilt", "Heating", "CentralAir"]
y = bunch.target
X = pd.DataFrame(bunch.data, columns=bunch.feature_names)[display_cols]
enc = CatBoostEncoder(cols=['CentralAir', 'Heating']).fit(X, y)
numeric_dataset = enc.transform(X)
print(numeric_dataset.info())

/opt/conda/lib/python3.11/site-packages/sklearn/datasets/_openml.py:1022: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           1460 non-null   int64
 1   MSSubClass   1460 non-null   int64
 2   MSZoning     1460 non-null   object
 3   LotFrontage  1201 non-null   float64
 4   YearBuilt    1460 non-null   int64
 5   Heating      1460 non-null   float64
 6   CentralAir   1460 non-null   float64
dtypes: float64(3), int64(3), object(1)
memory usage: 80.0+ KB
None

In [19]:
X.assign(y=y)

,Id,MSSubClass,MSZoning,LotFrontage,YearBuilt,Heating,CentralAir,y
0,1,60,RL,65.0,2003,GasA,Y,208500
1,2,20,RL,80.0,1976,GasA,Y,181500
2,3,60,RL,68.0,2001,GasA,Y,223500
3,4,70,RL,60.0,1915,GasA,Y,140000
4,5,60,RL,84.0,2000,GasA,Y,250000
...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,1999,GasA,Y,175000
1456,1457,20,RL,85.0,1978,GasA,Y,210000
1457,1458,70,RL,66.0,1941,GasA,Y,266500
1458,1459,20,RL,68.0,1950,GasA,Y,142125
1459,1460,20,RL,75.0,1965,GasA,Y,147500

In [24]:
import numpy as np
def _fit_column_map(series, y):
    category = pd.Categorical(series)

    categories = category.categories
    codes = category.codes.copy()

    codes[codes == -1] = len(categories)
    categories = np.append(categories, np.nan)

    return_map = pd.Series(dict(enumerate(categories)))

    result = y.groupby(codes).agg(['sum', 'count'])
    return result.rename(return_map)

In [72]:
a=1

In [59]:
cols = ["Heating", "CentralAir"]

mapping = {col: _fit_column_map(X[col], y) for col in cols}

mapping

{'Heating':              sum  count
 Floor      72500      1
 GasA   259926267   1428
 GasW     2999379     18
 Grav      526900      7
 OthW      251500      2
 Wall      368400      4,
 'CentralAir':          sum  count
 N   10000087     95
 Y  254144859   1365}

In [66]:
_mean = y.mean()

_mean

180921.19589041095

In [58]:
X_pred = pd.concat([X, pd.DataFrame([[1461, 30, "RL", 71., 1978, "GasB", "DN"]], columns=X.columns)])

X_pred

        Id  MSSubClass MSZoning  LotFrontage  YearBuilt Heating CentralAir
0        1          60       RL         65.0       2003    GasA          Y
1        2          20       RL         80.0       1976    GasA          Y
2        3          60       RL         68.0       2001    GasA          Y
3        4          70       RL         60.0       1915    GasA          Y
4        5          60       RL         84.0       2000    GasA          Y
...    ...         ...      ...          ...        ...     ...        ...
1456  1457          20       RL         85.0       1978    GasA          Y
1457  1458          70       RL         66.0       1941    GasA          Y
1458  1459          20       RL         68.0       1950    GasA          Y
1459  1460          20       RL         75.0       1965    GasA          Y
0     1461          30       RL         71.0       1978    GasB         DN

[1461 rows x 7 columns]

In [60]:
temp = [(col,colmap) for col, colmap in mapping.items()]

In [61]:
col,colmap = temp[0]
print(col)
print(colmap)

Heating
             sum  count
Floor      72500      1
GasA   259926267   1428
GasW     2999379     18
Grav      526900      7
OthW      251500      2
Wall      368400      4

In [48]:
level_notunique = colmap['count'] > 1
level_notunique

Floor    False
GasA      True
GasW      True
Grav      True
OthW      True
Wall      True
Name: count, dtype: bool

In [49]:
unique_train = colmap.index
unique_train

Index(['Floor', 'GasA', 'GasW', 'Grav', 'OthW', 'Wall'], dtype='object')

In [62]:
unseen_values = pd.Series([x for x in X_pred[col].unique() if x not in unique_train], dtype=unique_train.dtype)
unseen_values

0    GasB
dtype: object

In [63]:
is_nan = X_pred[col].isna()
is_nan

0       False
1       False
2       False
3       False
4       False
        ...
1456    False
1457    False
1458    False
1459    False
0       False
Name: Heating, Length: 1461, dtype: bool

In [64]:
is_unknown_value = X_pred[col].isin(unseen_values.dropna().astype(object))
is_unknown_value

0       False
1       False
2       False
3       False
4       False
        ...
1456    False
1457    False
1458    False
1459    False
0        True
Name: Heating, Length: 1461, dtype: bool

In [77]:
w = (colmap['sum']+ _mean + a) / (colmap['count']+a)

w

Floor    126711.097945
GasA     182020.426309
GasW     167384.273468
Grav      88477.774486
OthW     144140.731963
Wall     109864.439178
dtype: float64

In [81]:
level_means = w.where(level_notunique, _mean)

level_means

Floor    180921.195890
GasA     182020.426309
GasW     167384.273468
Grav      88477.774486
OthW     144140.731963
Wall     109864.439178
dtype: float64

In [82]:
X_pred[col].map(level_means)

0       182020.426309
1       182020.426309
2       182020.426309
3       182020.426309
4       182020.426309
            ...
1456    182020.426309
1457    182020.426309
1458    182020.426309
1459    182020.426309
0                 NaN
Name: Heating, Length: 1461, dtype: float64